# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64

tqdm
sklearn
scikit-image
simpleitk
scipy
matplotlib
pandas
pydicom
nibabel
pylibjpeg
pylibjpeg-libjpeg
torchsummary

tensorflow-gpu==1.8.0
keras==2.2.4
